.container_fluid {
	width: 1340px !important;
}
.top_header_page {
	width: 100%;
	/*overflow: hidden;*/
	background-image: url(./../img/bdslongthanh.png);
	background-size: cover;
	padding: 18px 0;
}
.top_header {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	position: relative;
	.logo_page {
		position: absolute;
		top: -19px;
		left: 0;
	}
	ul.top_menu {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: center;
		padding: 0;
		list-style: none;
		margin: 0;
		li {
			padding: 0 15px;
			position: relative;
			&:nth-child(1) , &:nth-child(2) {
				&:before {
					position: absolute;
					content: '';
					width: 1px;
					height: 12px;
					background: #cf9472;
					right: 0;
					top: 50%;
					transform: translate(0 , -50%);
				}
			}
			&:last-child {
				a {
					color: #cc8c67;
					text-transform: uppercase;
					text-decoration: none;
					padding: 0 3px;
					position: relative;
					&:before {
						position: absolute;
						content: '';
						width: 1px;
						height: 12px;
						background: #cf9472;
						right: -2px;
						top: 50%;
						transform: translate(0 , -50%);
					}
					&:last-child {
						&:before {
							display: none;
						}
					}
				}
			}
			
			span {
				display: block;
				float: left;
				margin-right: 18px;
				img {
					width: auto;
				}
			}
			a {
				font-family: UTMAvo;
				font-size: 16px;
				font-weight: 500;
				text-decoration: none;
				color: #cc8c67;
			}
			form {
				position: relative;
				.btn_timkiem {
					position: absolute;
					top: 50%;
					right: 0;
					transform: translate(0, -50%);
					opacity: 0;
					width: 20px;
				    overflow: hidden;
				}
				input {
					width: 188px;
				    height: 28px;
				    border-radius: 8px;
				    border: 2px solid #cc8c67;
				    padding: 0 10px;
				    &::placeholder {
				    	opacity: 0;
				    }
				    &:focus {
			    		outline: 0;
			    	}
				}
			}
		}
	}
}

.bottom_header_page {
	width: 100%;
	overflow: hidden;
	background: transparent;
	padding: 18px 0;
}
.main_menu {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
	padding: 0;
	list-style: none;
	margin: 0;
	li {
		padding: 0 25px;
		position: relative;
		&:before {
			position: absolute;
			content: '';
			width: 65px;
			height: 2px;
			background: transparent;
			transition: 0.3s;
			left: 25px;
			bottom: -10px;
		}
		&:hover {
			&:before {
				position: absolute;
				content: '';
				width: 65px;
				height: 2px;
				background: #cc8c67;
				left: 25px;
				bottom: -10px;
			}
		}
		a {
			font-family: UTMAvoBold;
			font-size: 16px;
			font-weight: 500;
			text-decoration: none;
			text-transform: uppercase;
			color: #071C3B;
		}
	}
	li.active {
		position: relative;
		&:before {
			position: absolute;
			content: '';
			width: 65px;
			height: 2px;
			background: #cc8c67;
			left: 25px;
			bottom: -10px;
		}
	}
}

.section_header.section_header_fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}
.section_slider {
	overflow: hidden;
	.item {
		width: 100%;
		img {
			width: 100%;
		}
	}
	.slick-dots {
		bottom: 25px;
	}
	.slick-dots li.slick-active button:before {
		color: #fff;
	}
	.slick-dots li button:before {
		font-size: 12px;
	}
	.slick-dots li button:before {
		color: #fff;
	}
}