.container_fluid {
  width: 1340px !important;
}

.top_header_page {
  width: 100%;
  /*overflow: hidden;*/
  background-image: url(./../img/bdslongthanh.png);
  background-size: cover;
  padding: 18px 0;
}

.top_header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  position: relative;
}
.top_header .logo_page {
  position: absolute;
  top: -19px;
  left: 0;
}
.top_header ul.top_menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  list-style: none;
  margin: 0;
}
.top_header ul.top_menu li {
  padding: 0 15px;
  position: relative;
}
.top_header ul.top_menu li:nth-child(1):before, .top_header ul.top_menu li:nth-child(2):before {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  background: #cf9472;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.top_header ul.top_menu li:last-child a {
  color: #cc8c67;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 3px;
  position: relative;
}
.top_header ul.top_menu li:last-child a:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  background: #cf9472;
  right: -2px;
  top: 50%;
  transform: translate(0, -50%);
}
.top_header ul.top_menu li:last-child a:last-child:before {
  display: none;
}
.top_header ul.top_menu li span {
  display: block;
  float: left;
  margin-right: 18px;
}
.top_header ul.top_menu li span img {
  width: auto;
}
.top_header ul.top_menu li a {
  font-family: UTMAvo;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #cc8c67;
}
.top_header ul.top_menu li form {
  position: relative;
}
.top_header ul.top_menu li form .btn_timkiem {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  opacity: 0;
  width: 20px;
  overflow: hidden;
}
.top_header ul.top_menu li form input {
  width: 188px;
  height: 28px;
  border-radius: 8px;
  border: 2px solid #cc8c67;
  padding: 0 10px;
}
.top_header ul.top_menu li form input::placeholder {
  opacity: 0;
}
.top_header ul.top_menu li form input:focus {
  outline: 0;
}

.bottom_header_page {
  width: 100%;
  overflow: hidden;
  background: transparent;
  padding: 18px 0;
}

.main_menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  list-style: none;
  margin: 0;
}
.main_menu li {
  padding: 0 25px;
  position: relative;
}
.main_menu li:before {
  position: absolute;
  content: "";
  width: 65px;
  height: 2px;
  background: transparent;
  transition: 0.3s;
  left: 25px;
  bottom: -10px;
}
.main_menu li:hover:before {
  position: absolute;
  content: "";
  width: 65px;
  height: 2px;
  background: #cc8c67;
  left: 25px;
  bottom: -10px;
}
.main_menu li a {
  font-family: UTMAvoBold;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #071C3B;
}
.main_menu li.active {
  position: relative;
}
.main_menu li.active:before {
  position: absolute;
  content: "";
  width: 65px;
  height: 2px;
  background: #cc8c67;
  left: 25px;
  bottom: -10px;
}

.section_header.section_header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.section_slider {
  overflow: hidden;
}
.section_slider .item {
  width: 100%;
}
.section_slider .item img {
  width: 100%;
}
.section_slider .slick-dots {
  bottom: 25px;
}
.section_slider .slick-dots li.slick-active button:before {
  color: #fff;
}
.section_slider .slick-dots li button:before {
  font-size: 12px;
}
.section_slider .slick-dots li button:before {
  color: #fff;
}

.title_basic h2 {
  font-family: Montserrat-Bold;
  font-size: 35px;
  color: #071C3B;
  text-align: center;
}
.title_basic span {
  font-size: 20px;
  font-family: Montserrat-Regular;
  color: #071C3B;
}

.element_tongquanduan {
  padding: 30px 0;
  margin: 30px 0;
  position: relative;
}
.element_tongquanduan:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background: #cc8c67;
  border-radius: 50%;
  left: 50.5%;
  top: 0;
  transform: translate(-50%, 0);
}
.element_tongquanduan:after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background: #cc8c67;
  border-radius: 50%;
  left: 50.5%;
  bottom: 0;
  transform: translate(-50%, 0);
}
.element_tongquanduan .item {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: row wrap;
}
.element_tongquanduan .item p {
  color: #cc8c67;
  font-family: "Montserrat-Bold";
  font-size: 18px;
  width: 50%;
  text-align: right;
  padding-right: 50px;
}
.element_tongquanduan .item .content {
  width: 50%;
  margin-left: auto;
  padding-left: 50px;
  position: relative;
}
.element_tongquanduan .item .content:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 150%;
  background: #cc8c67;
  left: 4px;
  bottom: -100%;
}
.element_tongquanduan .item span {
  color: #000;
  font-family: "Montserrat-Bold";
  font-size: 18px;
  display: block;
  position: relative;
}
.element_tongquanduan .item span:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #cc8c67;
  border-radius: 50%;
  left: -50px;
  top: 50%;
  transform: translate(0, -50%);
}
.element_tongquanduan .item:last-child .content:after {
  display: none;
}